body{
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 50px;
}

.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

.card-top{
    text-align: center;
}

.card-group{
    margin-bottom: 10px;
}

.card-group > label{
    width: 100%;
    color: #000000;
    display: block;
}

.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.card-group > button{
    background-image: linear-gradient(to right, rgb(170, 22, 22), rgb(59, 4, 4));
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: lightblue;
    border: 0px;
    outline: 0px;
}

.btn button:hover{
    background-image: linear-gradient(to right, rgb(59, 4, 4),rgb(170, 22, 22));

}

.imglogin{
    border-radius: 100px;
    width: 100px;
    box-shadow: 2px 5px 5px #ccc
}

.title{
    color: red;
}

